/resources/public/js/compiled/**
/resources/private/js/compiled/**
/node_modules
npm-debug.log
figwheel_server.log
pom.xml
*jar
/lib/
/classes/
/out/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl
.nrepl-port
*iml