# compiled products of Cljs compilation
/resources/public/js/compiled/**
/resources/private/js/compiled/**

figwheel_server.log
pom.xml
*jar
*iml
/lib/
/classes/
/out/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl
.nrepl-port
.cljs_rhino_repl